@charset "utf-8";
/* CSS Document */

.red {
	width: 500px;
	height: 50px;
	background-color: red;
}

.green {
	width: 50%; /* 50% of the screen's size -- so, adjusting the screen size will adjust this width too (in browser) */
	height: 50px;
	background-color: green;
}

.blue {
	max-width: 1000px; /* will adjust to the screen size up until this point (so no scroll bar in browser, but the element will adjust itself up until 1000 px) */
	height: 50px;
	background-color: blue;
}

.yellow {
	min-width: 800px; /* will force a scroll bar to appear if the screen is adjusted below the element's size (in browser) */
	height: 50px;
	background-color: yellow;
}

/* in general, its best to use percentage (%) for the kind of work seen above */

.flexbox{
	background-color: gray;
	display: flex; /* when adjusting the screen, the elements will behave according to the screen size (so adjusting it below the whatever max pixels for this row of numbers will make them adjust to be smaller in relation to the screen size) */
	flex-flow: wrap; /* this causes it to no longer scale (as written above), and instead wrap onto the next line */
}

.flexbox p {
	background-color: white;
	margin: 10px;
	/* width: 150px; */
	text-align: center; 
	flex: 1 1 250px; /* the 1 and 1 here is true/false for "flow-grow" & "flex-shrink" which can be seen as the numbers 5 and 6 are adjusing to grow or shrink as much it can. can conflict with "flex-wrap" */
}

#flexitem {
	flex: 1 1 500px; /* "flex-flow: wrap" is letting this happen */
}

.grid {
	background-color: aqua;
	display: grid; /* inline-grid only takes up the space the elements occupy, while grid takes all of it. */
	grid-template-columns: 300px 300px 150px; /* width. can also use 1fr or 2fr for fractions of the screen */
	grid-template-rows: 200px 200px; /* height */
	gap: 10px 30px /* space between elements, down then right */
}

.grid p {
	background-color: white; /* white boxes, makes the "display: inline-grid" visible */
	margin: 5px; /* space between the white boxes. can use this instead of gap, perhaps more intuitive + more control */
	text-align: center;
}

#griditem {
	/* grid-column: 1/ span 2; /* can also write "1/3" but is perhaps more confusing even if it means the same */
	/* grid-row: 1/ span 2;
	/* */
	grid-area: 1/1/3/3; /* shorthand way, perhaps also confusing, but means the same as the above. start row, start column, end row, end column */
}

@media screen and (max-width : 500px ){ /* will only happen if this is true - when the max width is 500px */
	.red {
		background-color: black;
	}
	.green {
		width: 100%; /* fits to the screen */
	}
	.flexbox {
		flex-direction: column; /* set the row to be a column instead (vertical) */
	}
}
